* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-search, .navigation-icons, .profile-notifications {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    background-color: #1877f2;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.search-bar {
    position: relative; /* Để đặt icon tìm kiếm bên trong ô tìm kiếm */
    margin-left: 10px; /* Khoảng cách bên trái giữa logo và thanh tìm kiếm */
}
.search-input {
    padding: 8px 16px 8px 36px; /* Đặt khoảng cách trong của ô tìm kiếm */
    background-color: #f0f2f5; /* Màu nền ô tìm kiếm */
    border-radius: 20px; /* Bo tròn các góc */
    border: none; /* Bỏ đường viền */
    outline: none; /* Bỏ viền ngoài khi click vào */
    width: 100px; /* Đặt chiều rộng cho ô tìm kiếm */
}
.search-icon {
    position: absolute; /* Đặt vị trí tuyệt đối để icon nằm trong ô tìm kiếm */
    left: 10px; /* Đặt icon tìm kiếm ở bên trái, cách 10px so với lề */
    top: 50%; /* Đặt icon ở giữa theo trục dọc */
    transform: translateY(-50%); /* Căn chỉnh icon theo chiều dọc */
    color: #606770; /* Màu sắc của icon tìm kiếm */
    font-size: 16px; /* Kích thước icon tìm kiếm */
}
.navigation-icons .icon {
    font-size: 24px;
    color: #606770;
    margin: 0 15px;
    position: relative;
    cursor: pointer;
}

.navigation-icons .icon.active {
    color: #1877f2;
}

.active-bar {
    width: 32px;
    height: 4px;
    background-color: #1877f2;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

.profile-notifications .icon {
    width: 40px;
    height: 40px;
    background-color: #e4e6eb;
    color: #606770;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.profile-notifications .notification {
    position: relative;
}

.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #f02849;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
}
